.menu {
    padding: 0;
}

.menu__item {
    margin: 35px;
}
.menu__link {
    display: flex;
    text-decoration: none;
    color: #6688c0;
    font-family: 'robotobold';
    font-size: 12px;
}

.menu__icon {
    width: 23px;
    height: 18px;
    vertical-align: middle;

}

.menu__icon__main {
    background: url('../../img/icon/css_sprites.png') -96px -10px;
}

.menu__icon__comment {
    background: url('../../img/icon/css_sprites.png') -10px -48px;
}

.menu__icon__team {
        background: url('../../img/icon/css_sprites.png') -53px -10px;
}

.menu__title {
    padding-left: 17px;
}
.menu__title_active {
    color: #221f1f;
}

.menu__icon__main_active {
        background: url('../../img/icon/css_sprites.png') -96px -48px;

}

.menu__icon__comment_active {
    background: url('../../img/icon/css_sprites.png') -50px -48px;
}

.menu__icon__team_active {
    background: url('../../img/icon/css_sprites.png') -10px -10px;
}

.menu__link:hover .menu__title {
    color: #221f1f;
}

.menu__link:hover .menu__icon__main {
    background: url('../../img/icon/css_sprites.png') -96px -48px;
}

.menu__link:hover .menu__icon__comment {
    background: url('../../img/icon/css_sprites.png') -50px -48px;
}

.menu__link:hover .menu__icon__team {
    background: url('../../img/icon/css_sprites.png') -10px -10px;
}